<div class="container-md my-5">
    <h1>Getting started</h1>
    <p>First you need to add this bot to your guild using this link <a href="#" target="_blank" rel="noopener noreferrer">Some Link</a></p>
    <h2>Commands</h2>
    <p>There are some default commands like <code>>ping</code></p>
    <p>By the way you can customize your commands <a routerLink="../commands">here</a></p>
    <h2>Permissions</h2>
    <p>All commands has permissions needed to use, those commands can be set for guilds, rolls and channels</p>
    <p>You can create your customs permissions <a routerLink="../permissions">here</a></p>
    <h2>Functions</h2>
    <p>Extra functions can be found <a routerLink="../functions">here</a></p>
</div>